body{ margin:0;
    font-family: 'Poppins', sans-serif;}

section{
   display: flex;
   align-items: center;
}
.half-width{
    width: 50%;
    padding: 5%;
}

.orange-color{
    color: #FFA808 ;
}
h3{ color: #FFA808 ;}
a{
    text-decoration: none;
 color: white;
 padding: 10px 40px;
 border-radius: 5px;
    background-image: -webkit-linear-gradient(#FF6C4F,#FF7A5A, #FF9974);
}
.img-width{width: 90%;}
.top-banner{  background-image: url("images/top-banner.png");
    background-repeat: no-repeat;}

    .mid-banner{  background-image: url("images/dream-bg.png");
       background-position: right;
        background-repeat: no-repeat;}

 .botom-banner{  background-image: url("images/exp-bg.png");
 background-repeat: no-repeat;
  background-position: left;}

.box-degine1
{
 box-shadow: 5px 7px 40px grey;
 height: 80%;
 padding: 5px;
 border-left: 7px solid;
 border-image:linear-gradient(
    180deg, blue, cyan);
    border-image-slice: 1;
        }

.box-degine2
{
 box-shadow: 5px 7px 40px grey;
 height: 80%;
 padding: 5px;
 border-left: 7px solid;
 border-image:linear-gradient(
180deg, red, orange, tomato);
border-image-slice: 1;
        }

#foot {
    text-align: center;
}      
